@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap");

/**
 * Variables
 */

:root {
  --color-header-color: #e3f1fc;
  --color-header-background: #00616e;
  --color-header-highlight: #ffffff;
  --color-content-color: #45474d;
  --color-content-background: #e5e8ee;
  --color-content-highlight: #ffffff;
  --color-scenery: #bec5d7;
}

html.dark {
  --color-header-color: #f4fcfe;
  --color-header-background: #00616e;
  --color-header-highlight: #dd9023;
  --color-content-color: #edeef1;
  --color-content-background: #81879c;
  --color-content-highlight: #dd9023;
  --color-scenery: #474d60;
}

/**
 * General
 */

* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  @apply text-light-300 
  @apply text-content-color;
}

h1,
h2,
h3,
h4 {
  @apply text-light-300;
  @apply text-content-color;
}

h1 {
  @apply tracking-0;
  font-size: 42px;
  line-height: 52px;
}

h2 {
  @apply tracking-0;
  font-size: 32px;
  line-height: 42px;
}

h3 {
  @apply font-normal tracking-0.5px;
  font-size: 24px;
  line-height: 37px;
}

h4 {
  @apply text-lg;
}

p,
ol,
ul,
pre,
strong,
blockquote {
  @apply tracking-normal;
}

.flex-center {
  @apply flex justify-center items-center;
}

.absolute-center-x {
  @apply left-1/2;
  transform: translateX(-50%);
}

.absolute-center-y {
  @apply top-1/2;
  transform: translateY(-50%);
}

.absolute-center {
  @apply absolute-center-x absolute-center-y;
  transform: translate(-50%, -50%);
}

.absolute-fit {
  @apply absolute top-0 left-0 right-0 bottom-0;
}

/**
 * Components
 */

.nav.is-fixed {
  .is-active {
    color: var(--color-header-highlight);
    font-weight: bold;
  }
}

.container {
  @apply py-8 md:py-20;
}

.icon:not(.icon-link) {
  @apply leading-1 mx-1 outline-none;
}

.material-design-icon {
  height: 1.25em;
  width: 1.25em;

  &.icon > .material-design-icon__svg {
    height: 1.5em;
    width: 1.5em;
  }

  &.icon-md > .material-design-icon__svg {
    height: 2em;
    width: 2em;
  }

  &.icon-lg > .material-design-icon__svg {
    height: 3em;
    width: 3em;
  }
}

.text-input {
  @apply w-full rounded focus:ring-2 text-base focus:outline-none py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out;
}

.btn {
  @apply flex mx-auto py-2 px-8 border-0 rounded text-base md:text-lg focus:outline-none hover:opacity-80;
}